<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-names="deployment.yml"
            id="org.springframework.tooling.bosh.manifest"
            name="BOSH Deployment Manifest"
            priority="high">
      </content-type>
      <file-association
            content-type="org.springframework.tooling.bosh.manifest"
            file-names="deployment.yml">
      </file-association>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-names="cloud-config.yml"
            id="org.springframework.tooling.bosh.cloudconfig"
            name="BOSH Cloud Config"
            priority="high">
      </content-type>
      <file-association
            content-type="org.springframework.tooling.bosh.cloudconfig"
            file-names="cloud-config.yml">
      </file-association>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.springframework.tooling.bosh.manifest"
            editorId="org.springframework.tooling.ls.eclipse.commons.YamlGenericEditor">
      </editorContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.springframework.tooling.bosh.cloudconfig"
            editorId="org.springframework.tooling.ls.eclipse.commons.YamlGenericEditor">
      </editorContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.springframework.tooling.bosh.manifest">
      </presentationReconciler>
   </extension>

   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.springframework.tooling.bosh.cloudconfig">
      </presentationReconciler>
   </extension>

   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
      		scopeName="source.yaml"
            path="./syntaxes/YAML.tmLanguage" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.springframework.tooling.bosh.manifest"
            scopeName="source.yaml">
      </scopeNameContentTypeBinding>
      <scopeNameContentTypeBinding
            contentTypeId="org.springframework.tooling.bosh.cloudconfig"
            scopeName="source.yaml">
      </scopeNameContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.springframework.tooling.bosh.ls.BoshLanguageServer"
            id="org.eclipse.languageserver.languages.bosh"
            clientImpl="org.springframework.tooling.ls.eclipse.commons.STS4LanguageClientImpl"
            label="BOSH Language Server">
      </server>
      <contentTypeMapping
            contentType="org.springframework.tooling.bosh.manifest"
            id="org.eclipse.languageserver.languages.bosh"
            languageId="bosh-deployment-manifest">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.springframework.tooling.bosh.cloudconfig"
            id="org.eclipse.languageserver.languages.bosh"
            languageId="bosh-cloud-config">
      </contentTypeMapping>
   </extension>

</plugin>
