<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.springframework.tooling.jdt.ls.extension.ClasspathListenerHandler">
            <command id="sts.java.addClasspathListener"/>
            <command id="sts.java.removeClasspathListener"/>
       </delegateCommandHandler>
      <delegateCommandHandler
            class="org.springframework.tooling.jdt.ls.extension.JavadocHandler">
         <command
               id="sts.java.javadoc">
         </command>
      </delegateCommandHandler>
   </extension>
</plugin>
 