*\~
*.class
**/classpath.txt
**/.idea
**/*.iml
**/*.versionsBackup

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
**/target/*.jar
**/jars/*.jar
eclipse-language-servers/**/*.jar
*.war
*.ear
# Exceptions
!**/.mvn/wrapper/maven-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/
bin/
*.log

# Mac OSX aux files
.DS_Store
**/.DS_Store
