<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.springframework.ide.eclipse.boot.dash.injections" name="org.springframework.ide.eclipse.boot.dash.injections" schema="schema/org.springframework.ide.eclipse.boot.dash.injections.exsd"/>

   <extension
         point="org.eclipse.ui.views">
<!--      <view
            name="Boot Dashboard Old"
            icon="platform:/plugin/org.springframework.ide.eclipse.boot/resources/icons/boot-icon.png"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.ide.eclipse.boot.dash.views.BootDashView"
            id="org.springframework.ide.eclipse.boot.dash.views.OldBootDashView">
      </view> -->
      <view
            name="Boot Dashboard"
            icon="$nl$/icons/boot-icon.png"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.ide.eclipse.boot.dash.views.BootDashTreeView"
            id="org.springframework.ide.eclipse.boot.dash.views.BootDashView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.springsource.sts.ide.perspective">
         <view
               ratio="0.66"
               relative="org.eclipse.wst.server.ui.ServersView"
               relationship="stack"
               id="org.springframework.ide.eclipse.boot.dash.views.BootDashView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.66"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               relationship="bottom"
               visible="true"
               id="org.springframework.ide.eclipse.boot.dash.views.BootDashView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.springframework.ide.eclipse.boot.dash.propertyContributor"
            labelProvider="org.springframework.ide.eclipse.boot.dash.views.properties.PropertiesTitleLabelProvider">
         <propertyCategory
               category="org.springframework.ide.eclipse.boot.dash"></propertyCategory>
      </propertyContributor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.springframework.ide.eclipse.boot.dash.propertyContributor">
         <propertyTab
               category="org.springframework.ide.eclipse.boot.dash"
               id="org.springframework.ide.eclipse.boot.dash.tab.General"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.springframework.ide.eclipse.boot.dash.tab.General"
               category="org.springframework.ide.eclipse.boot.dash"
               id="org.springframework.ide.eclipse.boot.dash.tab.RequestMappings"
               label="Request Mappings">
         </propertyTab>
         <propertyTab
               afterTab="org.springframework.ide.eclipse.boot.dash.tab.RequestMappings"
               category="org.springframework.ide.eclipse.boot.dash"
               id="org.springframework.ide.eclipse.boot.dash.Beans"
               label="Beans">
         </propertyTab>
         <propertyTab
               afterTab="org.springframework.ide.eclipse.boot.dash.Beans"
               category="org.springframework.ide.eclipse.boot.dash"
               id="org.springframework.ide.eclipse.boot.dash.Env"
               label="Env">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.springframework.ide.eclipse.boot.dash.propertyContributor">
         <propertySection
               afterSection="org.springframework.ide.eclipse.boot.dash.section.LocalGeneral, org.springframework.ide.eclipse.boot.dash.section.CloudFoundryGeneral"
               class="org.springframework.ide.eclipse.boot.dash.views.properties.RequestMappingPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.RequestMappingsSection"
               tab="org.springframework.ide.eclipse.boot.dash.tab.RequestMappings">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LaunchConfDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.BootProjectDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cf.model.CloudAppDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.remote.GenericRemoteAppElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.LocalGeneralPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.LocalGeneral"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LaunchConfDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.BootProjectDashElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.LocalCloudServiceGeneralPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.LocalCloudServiceGeneral"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LocalCloudServiceDashElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.BeansPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.BeansSection"
               tab="org.springframework.ide.eclipse.boot.dash.Beans">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LaunchConfDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.BootProjectDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cf.model.CloudAppDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.remote.GenericRemoteAppElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.EnvPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.section.EnvSection"
               tab="org.springframework.ide.eclipse.boot.dash.Env">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.LaunchConfDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.BootProjectDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.cf.model.CloudAppDashElement">
            </input>
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.remote.GenericRemoteAppElement">
            </input>
         </propertySection>
         <propertySection
               class="org.springframework.ide.eclipse.boot.dash.views.properties.GenericRemoteAppGeneralPropertiesSection"
               id="org.springframework.ide.eclipse.boot.dash.views.properties.GenericRemoteAppGeneralPropertiesSection"
               tab="org.springframework.ide.eclipse.boot.dash.tab.General">
            <input
                  type="org.springframework.ide.eclipse.boot.dash.model.remote.GenericRemoteAppElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Show Boot Dashboard view"
            id="org.springframework.ide.eclipse.boot.dash.ShowBootDashboard"
            name="Boot Dashboard">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="org.springframework.ide.eclipse.boot.dash.views.BootDashHandler"
            description="Open Launch Configuration"
            id="org.springframework.ide.eclipse.boot.dash.boot.dash.OpenLaunchConfigAction"
            name="Open Config">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="org.springframework.ide.eclipse.boot.dash.views.BootDashHandler"
            description="(Re)start Boot App"
            id="org.springframework.ide.eclipse.boot.dash.boot.dash.RestartAction"
            name="(Re)start">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="org.springframework.ide.eclipse.boot.dash.views.BootDashHandler"
            description="(Re)debug Boot App"
            id="org.springframework.ide.eclipse.boot.dash.boot.dash.RedebugAction"
            name="(Re)debug">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="org.springframework.ide.eclipse.boot.dash.views.BootDashHandler"
            description="Stop Boot App"
            id="org.springframework.ide.eclipse.boot.dash.boot.dash.StopAction"
            name="Stop">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.springframework.ide.eclipse.boot.dash.views.ShowBootDashboardHandler"
            commandId="org.springframework.ide.eclipse.boot.dash.ShowBootDashboard">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.springframework.ide.eclipse.boot.dash.toolbar1"
               label="Boot Dashboard">
            <command
                  commandId="org.springframework.ide.eclipse.boot.dash.ShowBootDashboard"
                  icon="$nl$/icons/boot-icon.png"
                  label="Boot Dashboard"
                  style="push"
                  tooltip="Boot Dashboard">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
    <extension point="org.eclipse.ui.preferencePages">
	 	<page
         category="org.springsource.ide.eclipse.commons.preferencePage"
         class="org.springframework.ide.eclipse.boot.dash.ngrok.NGROKInstallPreferencePage"
         id="org.springframework.ide.eclipse.boot.dash.ngrok.NGROKInstallPreferencePage"
         name="ngrok">
   		</page>
   		
	 	<page
         category="org.springframework.ide.eclipse.boot.ui.preferences.BootPreferencePage"
         class="org.springframework.ide.eclipse.boot.dash.prefs.BootDashPrefsPage"
         id="org.springframework.ide.eclipse.boot.dash.prefs.BootDashPrefsPage"
         name="Boot Dash">
   		</page>
   	</extension>

<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="org.springframework.ide.eclipse.boot.dash.boot.dash.OpenLaunchConfigAction"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M2+M3+B F">
   </key>
   <key
         commandId="org.springframework.ide.eclipse.boot.dash.boot.dash.RestartAction"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M2+M3+B R">
   </key>
   <key
         commandId="org.springframework.ide.eclipse.boot.dash.boot.dash.RedebugAction"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M2+M3+B D">
   </key>
   <key
         commandId="org.springframework.ide.eclipse.boot.dash.boot.dash.StopAction"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M2+M3+B S">
   </key>
</extension>
<extension
      point="org.eclipse.ui.themes">
   <colorDefinition
         categoryId="org.springsource.ide.eclipse.commons.ui"
         id="org.springframework.ide.eclipse.boot.dash.TextDecorColor"
         isEditable="false"
         label="Text Decoration Color"
         value="0,100,0">
   </colorDefinition>
   <colorDefinition
         categoryId="org.springsource.ide.eclipse.commons.ui"
         id="org.springframework.ide.eclipse.boot.dash.AltTextDecorColor"
         isEditable="false"
         label="Alternative Text Decoration Color"
         value="0,0,139">
   </colorDefinition>
   <colorDefinition
         categoryId="org.springsource.ide.eclipse.commons.ui"
         id="org.springframework.ide.eclipse.boot.dash.MutedTextDecorColor"
         isEditable="false"
         label="Muted Text Decoration Color"
         value="169,169,169">
   </colorDefinition>
</extension>
<extension
      point="org.eclipse.e4.ui.css.swt.theme">
   <stylesheet
         uri="css/dark-theme.css">
      <themeid
            refid="org.eclipse.e4.ui.css.theme.e4_dark">
      </themeid>
   </stylesheet>
</extension>
<extension
      point="org.eclipse.ui.console.consolePageParticipants">
   <consolePageParticipant
         class="org.springframework.ide.eclipse.boot.dash.console.ConsolePageParticipant"
         id="org.springframework.ide.eclipse.boot.dash.consolePageParticipant">
      <enablement>
         <instanceof
               value="org.springframework.ide.eclipse.boot.dash.console.ApplicationLogConsole">
         </instanceof>
      </enablement>
   </consolePageParticipant>
</extension>
<extension
      point="org.springsource.ide.eclipse.commons.boot.ls.remoteapps.RemoteBootAppsDataHolder.Contributor">
   <injection
         class="org.springframework.ide.eclipse.boot.dash.remoteapps.RemoteAppsFromBootDash">
   </injection>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer
         class="org.springframework.ide.eclipse.boot.dash.prefs.PrefsInitializer">
   </initializer>
</extension>

</plugin>
