<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.springframework.tooling.boot.java.ls.DelegatingStreamConnectionProvider"
            id="org.eclipse.languageserver.languages.springbootjava"
            label="Spring Boot Java Language Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="org.eclipse.languageserver.languages.springbootjava">
      </contentTypeMapping>
   </extension>
   
   <extension
         id="springbootjava-completion-computer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="org.springframework.tooling.boot.java.ls.jdt.SpringBootJavaCompletionProposalComputer"
            needsSortingAfterFiltering="false">
      </javaCompletionProposalComputer>
   </extension>
   <extension
         id="springbootjava-hover-provider"
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="org.springframework.tooling.boot.java.ls.jdt.SpringBootJavaHoverProvider"
            id="org.springframework.boot.ide.java.servers.hoverprovider">
      </hover>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.jdt.core.javaSource">
      </participant>
   </extension>

</plugin>
