<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.springframework.tooling.cloudfoundry.manifest.ls.CloudFoundryManifestLanguageServer"
            id="org.eclipse.languageserver.languages.cloudfoundrymanifest"
            clientImpl="org.springframework.tooling.ls.eclipse.commons.STS4LanguageClientImpl"
            label="Cloud Foundry Manifest Language Server">
      </server>
      <contentTypeMapping
            contentType="org.springframework.ide.eclipse.manifest.yml"
            id="org.eclipse.languageserver.languages.cloudfoundrymanifest">
      </contentTypeMapping>
   </extension>

</plugin>
