<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.springframework.tooling.cloudfoundry.manifest.ls.CloudFoundryManifestLanguageServer"
            id="org.eclipse.languageserver.languages.cloudfoundrymanifest"
            clientImpl="org.springframework.tooling.ls.eclipse.commons.STS4LanguageClientImpl"
            label="Cloud Foundry Manifest Language Server">
      </server>
      <contentTypeMapping
            contentType="org.springframework.ide.eclipse.manifest.yml"
            id="org.eclipse.languageserver.languages.cloudfoundrymanifest">
      </contentTypeMapping>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-names="manifest.yml"
            id="org.springframework.ide.eclipse.manifest.yml"
            name="Cloudfoundry Manifest"
            priority="high">
      </content-type>
      <file-association
            content-type="org.springframework.ide.eclipse.manifest.yml"
            file-names="manifest.yml"
            file-patterns="*manifest*.yml">
      </file-association>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.tooling.ls.eclipse.commons.YamlGenericEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/cloud_obj.png"
            id="CfManifestYMLEditor"
            name="Generic Editor - Cloudfoundry Manifest YAML"
            symbolicFontName="org.eclipse.jdt.ui.PropertiesFileEditor.textfont">
         <contentTypeBinding
               contentTypeId="org.springframework.ide.eclipse.manifest.yml">
         </contentTypeBinding>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.springframework.ide.eclipse.manifest.yml">
      </presentationReconciler>
   </extension>

   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
      		scopeName="source.yaml"
            path="syntaxes/YAML.tmLanguage" >
      </grammar>      
      <scopeNameContentTypeBinding
            contentTypeId="org.springframework.ide.eclipse.manifest.yml"
            scopeName="source.yaml">
      </scopeNameContentTypeBinding>
   </extension>
   
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.springframework.ide.eclipse.manifest.yml">
      </participant>
   </extension>

</plugin>
