<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.springframework.tooling.jdt.ls.extension.ResolveClasspathHandler">
            <command id="sts.java.resolveClasspath"/>
       </delegateCommandHandler>
   </extension>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.springframework.tooling.jdt.ls.extension.ResolveProjectHandler">
            <command id="sts.java.resolveProject"/>
       </delegateCommandHandler>
   </extension>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="org.springframework.tooling.jdt.ls.extension.ClasspathListenerHandler">
            <command id="sts.java.addClasspathListener"/>
            <command id="sts.java.removeClasspathListener"/>
       </delegateCommandHandler>
   </extension>
</plugin>
 