out
node_modules
target
*.log
*.log.*
classpath.txt
*.vsix
language-server
repo
.idea
*.iml
.DS_Store
**/.DS_Store
src/test/resources/test-projects/**/.classpath
src/test/resources/test-projects/**/.project
src/test/resources/test-projects/**/.factorypath
src/test/resources/test-projects/**/.settings/**
src/test/resources/test-projects/**/bin/**