<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="org.springframework.ide.eclipse.maven.pom.PomMergeViewerCreator"
            id="org.springframework.ide.eclipse.maven.pom"
            label="Maven POM Compare">
      </viewer>
      <contentTypeBinding
            contentMergeViewerId="org.springframework.ide.eclipse.maven.pom"
            contentTypeId="org.eclipse.m2e.core.pomFile">
      </contentTypeBinding>
   </extension>

</plugin>
