<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.springframework.tooling.bootinfo"></type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.springframework.tooling.bootinfo"
            colorPreferenceKey="STS4BootMarkerIndicationColor"
            colorPreferenceValue="219,236,207"
            contributesToHeader="false"
            highlightPreferenceKey="STS4BootMarkerHighlighting"
            highlightPreferenceValue="true"
            icon="icons/boot-icon.png"
            label="Boot Dynamic Info"
            overviewRulerPreferenceKey="STS4BootMarkerIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="false"
            textPreferenceKey="STS4BootMarkerIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="STS4BootMarkerIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
     point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.lsp4e.preferences"
          class="org.springframework.tooling.ls.eclipse.commons.preferences.LanguageServerPreferencesPage"
          id="org.springframework.tooling.ls.eclipse.commons.console.preferences"
          name="Spring Language Servers">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.springframework.tooling.ls.eclipse.commons.preferences.PrefsInitializer">
      </initializer>
      <initializer
            class="org.springframework.tooling.ls.eclipse.commons.preferences.YamlGenericEditorPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.springframework.tooling.ls.eclipse.commons.console.LanguageServerConsolePageParticipant"
            id="org.springframework.tooling.ls.eclipse.commons.console.LanguageServerConsolePageParticipant">
         <enablement>
            <instanceof value="org.springframework.tooling.ls.eclipse.commons.console.LanguageServerIOConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.tooling.ls.eclipse.commons.YamlGenericEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.ui.genericeditor/icons/full/obj16/generic_editor.png"
            id="org.springframework.tooling.ls.eclipse.commons.YamlGenericEditor"
            name="Generic YAML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
            class="org.springframework.tooling.ls.eclipse.commons.HighlightsCodeLensProvider"
            id="org.eclipse.lsp4e.codelens"
            label="CodeLens">
         <enabledWhen>
            <with
                  variable="editorInput">
               <test
                     property="org.eclipse.lsp4e.hasLanguageServer">
               </test>
            </with>
         </enabledWhen>
      </codeMiningProvider>
   </extension>
</plugin>
