<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.springframework.tooling.bootinfo"></type>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.springframework.tooling.bootinfo"
            colorPreferenceKey="STS4BootMarkerIndicationColor"
            colorPreferenceValue="219,236,207"
            contributesToHeader="false"
            highlightPreferenceKey="STS4BootMarkerHighlighting"
            highlightPreferenceValue="true"
            icon="icons/boot-icon.png"
            includeOnPreferencePage="false"
            label="Boot Dynamic Info"
            overviewRulerPreferenceKey="STS4BootMarkerIndicationInOverviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="false"
            textPreferenceKey="STS4BootMarkerIndication"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="STS4BootMarkerIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
     point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.lsp4e.preferences"
          class="org.springframework.tooling.ls.eclipse.commons.preferences.LanguageServerPreferencesPage"
          id="org.springframework.tooling.ls.eclipse.commons.console.preferences"
          name="Spring Language Servers">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.springframework.tooling.ls.eclipse.commons.preferences.PrefsInitializer">
      </initializer>
      <initializer
            class="org.springframework.tooling.ls.eclipse.commons.preferences.YamlGenericEditorPreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.springframework.tooling.ls.eclipse.commons.console.LanguageServerConsolePageParticipant"
            id="org.springframework.tooling.ls.eclipse.commons.console.LanguageServerConsolePageParticipant">
         <enablement>
            <instanceof value="org.springframework.tooling.ls.eclipse.commons.console.LanguageServerIOConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.springframework.tooling.ls.eclipse.commons.YamlGenericEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            icon="platform:/plugin/org.eclipse.ui.genericeditor/icons/full/obj16/generic_editor.png"
            id="org.springframework.tooling.ls.eclipse.commons.YamlGenericEditor"
            name="Generic YAML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
            class="org.springframework.tooling.ls.eclipse.commons.HighlightsCodeLensProvider"
            id="org.eclipse.lsp4e.codelens"
            label="CodeLens">
         <enabledWhen>
            <with
                  variable="editorInput">
               <test
                     property="org.eclipse.lsp4e.hasLanguageServer">
               </test>
            </with>
         </enabledWhen>
      </codeMiningProvider>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.springframework.tooling.ls.eclipse.commons.commands.OpenJavaElementInEditor"
            commandId="org.springframework.tooling.ls.eclipse.commons.commands.OpenJavaElementInEditor">
      </handler>
      <handler
            class="org.springframework.tooling.ls.eclipse.commons.commands.OpenResourceInEditor"
            commandId="org.springframework.tooling.ls.eclipse.commons.commands.OpenResourceInEditor">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.springframework.tooling.ls.eclipse.commons.commands.OpenJavaElementInEditor"
            name="Open Java Element in Editor">
         <commandParameter
               id="bindingKey"
               name="bindingKey"
               optional="false">
         </commandParameter>
         <commandParameter
               id="projectName"
               name="projectName"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="org.springframework.tooling.ls.eclipse.commons.commands.OpenResourceInEditor"
            name="Open File in Editor">
         <commandParameter
               id="path"
               name="path"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/e4-dark_sts4_prefstyle.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="org.springsource.ide.eclipse.commons.ui"
            id="org.springframework.tooling.ls.eclipse.commons.STS4BootMarkerIndicationColor"
            isEditable="true"
            label="Live Boot Hint Color"
            value="219,236,207">
         <description>
            Running Spring Boot app live data availability hints
         </description>
      </colorDefinition>
   </extension>
</plugin>
