<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Spring Symbols"
            icon="$nl$/icons/boot-icon.png"
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.tooling.ls.eclipse.gotosymbol.view.SpringSymbolsView"
            id="org.springframework.tooling.ls.eclipse.gotosymbol.view.SpringSymbolsView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="STS4"
            id="org.springframework.tooling.ls.eclipse.gotosymbol.commands.category">
      </category>
      <command
            name="Goto Symbol"
            categoryId="org.springframework.tooling.ls.eclipse.gotosymbol.commands.category"
            defaultHandler="org.springframework.tooling.ls.eclipse.gotosymbol.handlers.GotoSymbolHandler"
            id="org.springframework.tooling.ls.eclipse.gotosymbol.command">
      </command>
   </extension>
<!--   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.springframework.tooling.ls.eclipse.gotosymbol.command"
            class="org.springframework.tooling.ls.eclipse.gotosymbol.handlers.GotoSymbolHandler">
      </handler>
   </extension> -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.springframework.tooling.ls.eclipse.gotosymbol.command"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
<!-- TODO: stuff below comes from  'Hello world Command' example  generated by Eclipse
  Should figure out proper way to integrate into menus and toolbars etc. So commented out 
  The command is currently accessible only via 'Quick Access' search box or keyboard shortcut
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="org.springframework.tooling.ls.eclipse.gotosymbol.menus.sampleMenu">
            <command
                  commandId="org.springframework.tooling.ls.eclipse.gotosymbol.command"
                  mnemonic="G"
                  id="org.springframework.tooling.ls.eclipse.gotosymbol.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.springframework.tooling.ls.eclipse.gotosymbol.toolbars.sampleToolbar">
            <command
                  commandId="org.springframework.tooling.ls.eclipse.gotosymbol.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world"
                  id="org.springframework.tooling.ls.eclipse.gotosymbol.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
-->

</plugin>
