<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.springframework.ide.eclipse.ui.views"
            class="org.springframework.tooling.eclipse.si.view.LiveGraphView"
            id="org.springframework.tooling.eclipse.si.view.LiveGraphView"
            name="Integration Graph View">
      </view>
   </extension>

</plugin>
