<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.languageserver.languageServer">
      <server
            class="org.springframework.boot.ide.cloudfoundry.server.CloudFoundryManifestLanguageServer"
            id="org.eclipse.languageserver.languages.cloudfoundrymanifest"
            label="Cloud Foundry Manifest Language Server">
      </server>
      <contentTypeMapping
            contentType="org.springframework.boot.ide.manifest.yml"
            id="org.eclipse.languageserver.languages.cloudfoundrymanifest">
      </contentTypeMapping>
   </extension>

</plugin>
