# IDE configs
.vscode/**
.idea/**
*.iml
javaconfig.json
classpath.txt
tsconfig.json
tsd.json
*.xml

# Logs
*.log*

# Sources
typings/**
src/**
test/**
lib/**
!lib/javaconfig.schema.json
repo/**
scripts/**
readme-imgs/**
developer-notes.md

# Compiler output
out/test/**

# Extensions
.gitignore
**/*.map
