<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension id="sts4" point="org.eclipse.core.runtime.products"> 
      <product name="%productName" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <property name="windowImages" value="sts4-16.png,sts4-32.png,sts4-48.png"/> 
          <property name="aboutImage" value="sts_lg.gif"/> 
          <property name="aboutText" value="%productBlurb"/> 
          <property name="appName" value="SpringToolSuite4"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/> 
          <property
                name="startupForegroundColor"
                value="445F78"/>
          <property
                name="versionForegroundColor"
                value="445F78"/>
          <property
                name="startupMessageRect"
                value="175,280,520,18"/>
          <property
                name="startupProgressRect"
                value="175,300,520,14"/>
          <property
                name="versionRect"
                value="550,30" />
		  <property
				name="applicationXMI"
				value="org.eclipse.platform/LegacyIDE.e4xmi">
		  </property>
		  <property
				name="cssTheme"
				value="org.eclipse.e4.ui.css.theme.e4_default">
		  </property>
		  <property
				name="applicationCSSResources"
	         	value="platform:/plugin/org.eclipse.platform/images/">
		  </property>
      </product> 
   </extension>

</plugin>
